<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="crear-seguro">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="shared-styles">
      :host {
        width: 100%;
      }

      fieldset {
        padding-top: 30px;
      }
    </style>
    <div class="container">
      <div class="row">
        <fieldset>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Placa</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group col-sm-5">
            <label for="exampleInputEmail1">Nombres</label>
            <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Ingrese nombres">
          </div>
          <div class="form-group col-sm-5">
            <label for="lastname">Apellidos</label>
            <input type="lastname" class="form-control" id="lastname" placeholder="Ingrese apellidos">
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Marca</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Modelo</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Referencia</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Ciudad de circulación</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Uso del vehiculo</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
        </fieldset>
        <fieldset>

          <div class="form-group col-sm-5">
            <label for="licensePlate">Numero de documento</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Tipo de cedula</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Genero</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Fecha de nacimiento</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Numero de celular</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
          <div class="form-group col-sm-5">
            <label for="licensePlate">Correo electronico</label>
            <input type="text" class="form-control" id="licensePlate" placeholder="Ingrese placa">
          </div>
        </fieldset>
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary">Solicitar</button>
        </div>
      </div>
    </div>
  </template>

  <script>
    class CrearSeguro extends Polymer.Element {
      static get is() { return 'crear-seguro'; }
    }

    window.customElements.define(CrearSeguro.is, CrearSeguro);
  </script>
</dom-module>