<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="mis-seguros">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="shared-styles">
      :host {}
    </style>
    <div class="panel panel-default">
      <div class="panel-heading">Mis Seguros</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Fecha Inicio</th>
            <th>Fecha Finalización</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{data}}">
            <tr>
              <td>{{item.code}}</td>
              <td>{{item.detail}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.startDate}}</td>
              <td>{{item.endDate}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>

  <script>
    class MisSeguros extends Polymer.Element {
      static get properties() {
        return {
          rootPath: String,
          data: {
            type: Array,
            value: function () {
              return [
                { code: "S0001722A", detail: "Seguro Automovil", amount: 34000000, startDate: "01/01/2019", endDate: "31/12/2019" }
              ];
            },
            notify: true
          }
        };
      }
      static get is() { return 'mis-seguros'; }
    }

    window.customElements.define(MisSeguros.is, MisSeguros);
  </script>
</dom-module>