<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="rows">
          <h1>Login</h1>
      </div>
    </div>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
