<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="register-page">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="shared-styles">
      body,
      html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #60a3bc !important;
      }
      .user_card {
      height: 450px;
      width: 350px;
      margin-top: 15%;
      margin-left: 32%;
      margin-bottom: auto;
      background: #00316C;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;

      }
      .brand_logo {
      height: 60px;
      width: 170px;
      margin-left: 25%;
      }
      .form_container {
      margin-top: 80px;
      }
      .login_btn {
      width: 100%;
      background: #01DFD7 !important;
      color: white !important;
      margin-top: 50px;
      }
      .login_btn:focus {
      box-shadow: none !important;
      outline: 100px !important;
      }
      .login_container {
      padding: 0 2rem;
      }
      .registerLink {
        color: white;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 10%;
      }
      .input-group-text {
      background: #c0392b !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
      margin-top: 50px;
      }
      .input_user,
      .input_pass {
      box-shadow: none !important;
      outline: 0px !important;
      margin-left: 35%;
      }
      .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #c0392b !important;
      }
    </style>
    <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
    	<div class="user_card">
    		<div class="d-flex justify-content-center">
    			<img src="https://www.bbva.com.co/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg" class="brand_logo" alt="Logo">
    		</div>
    		<div class="d-flex justify-content-center form_container">
    			<form>
    				<div class="input-group mb-3">
    					<div class="input-group-append">
    						<span class="input-group-text"><i class="fas fa-user"></i></span>
    					</div>
    					<input type="text" name="" class="form-control input_user" value="" placeholder="name">
    				</div>
            <div class="input-group mb-3">
    					<div class="input-group-append">
    						<span class="input-group-text"><i class="fas fa-user"></i></span>
    					</div>
    					<input type="text" name="" class="form-control input_user" value="" placeholder="last name">
    				</div>
            <div class="input-group mb-3">
    					<div class="input-group-append">
    						<span class="input-group-text"><i class="fas fa-user"></i></span>
    					</div>
    					<input type="email" name="" class="form-control input_user" value="" placeholder="email">
    				</div>
    				<div class="input-group mb-2">
    					<div class="input-group-append">
    						<span class="input-group-text"><i class="fas fa-key"></i></span>
    					</div>
    					<input type="password" name="" class="form-control input_pass" value="" placeholder="password">
    				</div>
    			</form>
    		</div>
    		<div class="d-flex justify-content-center mt-3 login_container">
    			<button type="button" name="button" class="btn login_btn">Sing Up</button>
    		</div>
        <div>
          <h6 class="registerLink" >Cancel</h6>
        </div>
    	</div>
    </div>
    </div>

  </template>

  <script>
    class RegisterPage extends Polymer.Element {
      static get properties() {
        return {

          }
      };
      static get is() { return 'register-page'; }
    }


    window.customElements.define(RegisterPage.is, RegisterPage);
  </script>
</dom-module>
